/* Header settings start */

.header{
    background: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 5%;
    border-bottom: 2px solid var(--main-color);
    /* position: fixed;
    top:0; left: 0; right: 0; */
    z-index: 1000;
}

/* Header settings ends */

/* Header logo settings start */

.header .logo img{  /* Configuración del icono */
    height: 4.9rem;   /* Altura del icono */
    border-radius: 50%; /* Borde de tipo radio del icono */
}

/* Header logo settings ends */

/* Header logo-icon settings start */

.header .icons {    /* Configuración del contenedor logo e icono */
    display: flex;  /* Disposición de la vista de los elementos - flexible */
    align-items: center;    /* Alinear elementos al centro */
    justify-content: space-between; /* Espacio entre los elementos del contenedor */
    margin-left: -5rem; /* Disposición de los elementos con respecto al márgen */
}

.header .icons div{ /* Configuración de los elementos del contenedor */
    cursor: pointer;    /* Cambio de cursor al pasar el puntero */
    margin-left: 3rem;  /* Disposición de los elementos con respecto al márgen */
}

/* Header logo-icon settings ends */

/* Header search settings start */

.header .search-form{   /* Configuración del contenedor del buscador */
    top:25; right: 35%; /* Posición del contenedor del buscador */
    background:#fff;   /* Color del fondo del contenedor */
    border: 2px solid var(--main-color);   
    width: 50rem;   /* Ancho del contenedor */
    height: 3.5rem;   /* Altura del contenedor */
    display: flex;  /* Disposición de la vista - Flexible */
    align-items: center;    /* Alinear elementos en el centro */
    border-radius: 25px 25px 25px 25px; /* Borde del input derecho */
    margin-right: 35px; /* Disposición del search con respecto a los elementos laterales */
}

.header .search-form input{ /* Contenido del buscador */
    height: 100%;   /* Ocupar el 100% de su contenido */
    width: 100%;  /* Ocupar el 100% de su contendio */
    font-size: 1.5rem;  /* Tamaño de la fuente */
    color:var(--black); /* Color del contenedor */
    padding:1rem;   /* Relleno del contenedor */
    text-transform: none;
    border-radius: 25px 25px 25px 25px; /* Borde del input izquierdo */
}

.header .search-form label{ /* Lupa */
    cursor: pointer;    /* Cambio de puntero */
    font-size: 1.6rem;  /* Tamaño de la lupa */
    margin-right: 1rem; /* Posición con respesto al margen derecho */
    color:var(--bg); /* Color de la lupa */
}

.header .search-form label:hover{   /* Lupa colour */
    color:var(--main-color);    /* Color de la lupa al pasar el puntero */
}

/* Header search settings ends */

/* Header icons settings start */

.header .icons div{ /* Configuración de los iconos */
    color:#fff; /* Color de los iconos */
    cursor: pointer;    /* Cambio de cursor al pasar el puntero */
    font-size: 2rem;  /* Tamaño de los iconos */
    margin-left: 2rem;  /* Posición con respecto al márgen izquierdo */
}

.header .icons div:hover{   /* Configuración de los efectos de los iconos */
    color:var(--main-color);    /* Color del icono al pasar el cursor */
}

/* Header icons settings ends */


/* hiding the menu button in the version desktop */

#menu-btn{
    display: none;
}

/* Header navbar settings */

.nav{
    background: var(--bg);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .icons div{
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.nav .icons div:hover{
    color:var(--main-color);
}

.nav .navbar a{
    margin:0 1rem;
    font-size: 1.6rem;
    color:#fff;
}

.nav .navbar a:hover{
    color:var(--main-color);
    border-bottom: .1rem solid var(--main-color);
    padding-bottom: .5rem;
}

/* Header navbar settings ends */









